[alias]
    tree = log --oneline --decorate --graph
    vimdiff = difftool
[user]
    name = James Won
    email = me@jwon.me
[color]
    ui = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[branch]
    autosetuprebase = always
[push]
    default = simple

[core]
    editor = /usr/bin/vim
